# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Logs
logs/
*.log

# Databases & Cache
*.db
*.sqlite
*.sqlite3

# Environment variables & secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
.DS_Store
